<h3>Filter by tags</h3>

$taglist$  
<div>Hint: The larger font tags have more articles.</div>

<h3>Here you can find all of my posts:</h3>
$partial("templates/post-list.html")$
<!-- LEGEND BEGIN ------------------- -->
<p>
    <div>All articles can be reached through the sidebar. All articles are labeled by either one or more of the 5 tags shown below.</div>
    <table>
      <thead>
        <tr>
          <th>tag</th>
          <th>meaning</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/tags/mathcs.html">mathcs</a></td>
          <td>math and computer science</td>
         
        </tr>
        <tr>
          <td><a href="/tags/prog.html">prog</a></td>
          <td>programming</td>
          
        </tr>
        <tr>
          <td><a href="/tags/AI.html">AI</a></td>
          <td>Artifical intelligence and machine learning</td>
          
        </tr>
        <tr>
          <td><a href="/tags/tech.html">tech</a></td>
          <td>hardware tinkering</td>
          
        </tr>
        <tr>
          <td><a href="/tags/musings.html">musings</a></td>
          <td>ramblings</td>
          
        </tr>
      </tbody>
  </table>
  
    
</p>
<!-- LEGEND END --------------------- -->