<h3>Tags</h3>

$taglist$  
<div>Hint: The larger font tags have more articles.</div>

<h3>Here you can find all my previous posts:</h3>
$partial("templates/post-list.html")$
<!-- LEGEND BEGIN ------------------- -->
<p>
    <div>All articles can be reached through the sidebar. All articles are labeled by either one or more of the 5 tags shown below.</div>
    <table>
        <thead>
          <tr>
            <th>tag</th>
            <th>meaning</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>mathcs</td>
            <td>math and computer science</td>
           
          </tr>
          <tr>
            <td>prog</td>
            <td>programming</td>
            
          </tr>
          <tr>
            <td>AI</td>
            <td>Artifical intelligence and machine learning</td>
            
          </tr>
          <tr>
            <td>tech</td>
            <td>hardware tinkering</td>
            
          </tr>
          <tr>
            <td>musings</td>
            <td>ramblings</td>
            
          </tr>
        </tbody>
    </table>
    
</p>
<!-- LEGEND END --------------------- -->